h1 {
    size: 20;
    color: aqua;
    background-color: blueviolet;
}

h2 {
    border-left: solid blueviolet 4px;
}


body {
    background-image: linear-gradient(red, yellow);
  }

button{
    padding: 3px 10px;
}